@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
div {
  font-family: 'Roboto';
}

.content-container {
  padding-top: 20px;
  padding-left: 220px;
}

#map {
  height: 500px;
  width: 100%;
 }