<sidebar-admin-klinike></sidebar-admin-klinike>
<div class="content-container">
  <div class="container-fluid">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <form (ngSubmit)="onSubmit()" [formGroup]="klinikaForm">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Profil klinike</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="adminKlinike.klinika.naziv" placeholder="Naziv" #naziv matInput
                          [ngClass]="{ 'is-invalid': submitted && f.naziv.errors }" formControlName="naziv"
                          class="mat-form-control">
                        <mat-error *ngIf="submitted && f.naziv?.errors">
                          <div *ngIf="f.naziv.errors.required">Unos naziva je obavezan</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Adresa" type="text" id="adresa"
                          [(ngModel)]="adminKlinike.klinika.adresa" formControlName="adresa" class="mat-form-control">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input placeholder="Prosecna ocena" #ocena matInput [(ngModel)]="adminKlinike.klinika.ocena"
                          [readonly]="true" formControlName="ocena" class="mat-form-control">
                      </mat-form-field>
                    </div>
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Grad" type="text" id="grad" [(ngModel)]="adminKlinike.klinika.grad"
                          formControlName="grad" class="mat-form-control">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input placeholder="Kontakt telefon" #kontaktTelefon matInput
                          [(ngModel)]="adminKlinike.klinika.kontaktTelefon" type="text" formControlName="kontaktTelefon"
                          class="mat-form-control">
                      </mat-form-field>
                    </div>

                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input placeholder="Drzava" matInput type="text" id="drzava"
                          [(ngModel)]="adminKlinike.klinika.drzava" formControlName="drzava" class="mat-form-control">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input placeholder="Email" matInput [(ngModel)]="adminKlinike.klinika.email" type="email"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email"
                          class="mat-form-control">
                        <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Unos e-mail-a je obavezan</div>
                          <div *ngIf="f.email.errors.email">E-mail je neispravan</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right">Izmeni</button>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>