<app-sidebarlekar></app-sidebarlekar>
<div class="content-container">
  <div class="container-fluid">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Osnovne informacije</h4>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-12">
                        <p> Ime : Vladimir </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <p> Prezime : Popovic </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <p> Broj telefona : 0652754578 </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <p> Email : vladimirpopovic@live.com </p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile">
              <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img class="img-fluid" src="./assets/img/faces/marc.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-gray">Lekar</h6>
                <h4 class="card-title">Vladimir Popovic</h4>
                <p class="card-description">
                  O meni
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
