<div class="sidebar-container bg-dark">
  <div class="sidebar-logo">
    Meni
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Profil</li>
    <li>
      <a [routerLink]="['/administratorklinikepregled']" >
        <i class="fa fa-user" aria-hidden="true"></i> Pregled profila
      </a>
    </li>
    <li>
      <a [routerLink]="['/administratorklinikeizmena']" >
        <i class="fa fa-user-edit" aria-hidden="true"></i> Izmeni profil
      </a>
    </li>
    <li class="header">Klinika</li>
    <li>
      <a [routerLink]="['/izmenaprofilklinike']">
        <i class="fa fa-clinic-medical" aria-hidden="true"></i> Osnovne informacije
      </a>
    </li>
    <li>
      <a [routerLink]="['/sale']">
        <i class="fa fa-first-aid" aria-hidden="true"></i> Sale
      </a>
    </li>
    <li>
      <a [routerLink]="['/medicinskoosoblje']">
        <i class="fa fa-user-md" aria-hidden="true"></i> Medicinsko osoblje
      </a>
    </li>
    <li>
      <a [routerLink]="['/zahtevi']">
        <i class="fa fa-stethoscope" aria-hidden="true"></i> Zahtevi za preglede/operacije
      </a>
    </li>
    <li>
      <a [routerLink]="['/tipovi']" >
        <i class="fa fa-x-ray" aria-hidden="true"></i> Tipovi pregleda
      </a>
    </li>
    <li>
      <a [routerLink]="['/predefinisani']">
        <i class="fa fa-book-medical" aria-hidden="true"></i> Slobodni termini pregleda
      </a>
    </li>
    <li>
      <a [routerLink]="['/zahteviOdsustvoGodisnji']">
        <i class="fa fa-plane-departure" aria-hidden="true"></i> Zahtevi za godišnji odmor/odsustvo
      </a>
    </li>
    <li>
      <a [routerLink]="['/izvestaj']">
        <i class="fa fa-file-medical-alt" aria-hidden="true"></i> Izveštaj o poslovanju
      </a>
    </li>
    <li class="header">Odjava</li>
    <li>
      <a [routerLink]="['/welcome']" (click)="odjava()">
        <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Odjavi se
      </a>
    </li>
  </ul>
</div>
