<sidebar-admin-klinike></sidebar-admin-klinike>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Tipovi pregleda klinike "{{adminKlinike.klinika.naziv}}"</h4>
                        <button mat-raised-button (click)="showDialogRegister()"
                        class="btn btn-primary pull-right">Dodaj tip pregleda</button>
                    </div>
                    <div style="padding-left: 30px;" class="row">
                        <div style="padding-top: 20px;" class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input (keyup)="applyFilter($event.target.value)" placeholder="Pretraži tipove pregleda" #naziv
                                    matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="card-body">
                        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
                            <!-- Position Column -->
                            <ng-container matColumnDef="naziv">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv</th>
                                <td mat-cell *matCellDef="let tip"> {{tip.naziv}}</td>
                            </ng-container>
                            <ng-container matColumnDef="specijalizacija">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Specijalizacija </th>
                                <td mat-cell *matCellDef="let tip"> {{tip.specijalizacija}} </td>
                            </ng-container>
                            <ng-container matColumnDef="cena">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
                                <td mat-cell *matCellDef="let tip"> {{tip.cena}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Izmeni">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let tip"> <button id={{tip.id}} mat-raised-button
                                        (click)="izmeniTip(tip)" class="btn btn-warning">Izmeni</button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Ukloni">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let tip"> <button id={{tip.id}} mat-raised-button
                                        (click)="ukloniTip(tip)" class="btn btn-danger">Ukloni</button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>