<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #212121;">
    <a class="navbar-brand" [routerLink]="['/welcome']">
      <i class="fas fa-home mr-1"></i> Početna stranica
    </a>
    <a class="navbar-brand" routerLink="/">
    </a>
    <a class="navbar-brand" [routerLink]="['/login']">Prijava</a>
    <a class="navbar-brand" [routerLink]="['/register']">Registracija</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/administratorPregled']">
            <i class="fas fa-user-graduate mr-1"></i> Admin Klinike
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/lekarPregled']">
            <i class="fas fa-user-md mr-1"></i> Lekar
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/administratorKc']">
            <i class="fas fa-user-shield"></i> Admin Klinickog Centra
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/medicinskaSestra']">
            <i class="fas fa-user-nurse"></i> Medicinska sestra
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div>
  <router-outlet></router-outlet>
</div>
