<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #212121;">
    <a class="navbar-brand" routerLink="/">
      <span style="color:white">ganatan</span>
      <img src="./assets/params/images/logo/ganatan.png" width="20" height="20" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/welcome']">
            <i class="fas fa-home mr-1"></i> Početna stranica
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/administratorklinike']">
            <i class="fas fa-user-graduate mr-1"></i> Admin Klinike
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div>
    <router-outlet></router-outlet>
</div>
