<app-sidebar-med-sestra></app-sidebar-med-sestra>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Pacijenti klinike</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Ime
                </th>
                <th>
                  Prezime
                </th>
                <th>
                  E-mail
                </th>
                <th>
                  Kontakt telefon
                </th>
                </thead>
                <tbody>
                <tr *ngFor='let lekar of lekari'>
                  <td>
                    1
                  </td>
                  <td>
                    {{lekar.ime}}
                  </td>
                  <td>
                    {{lekar.prezime}}
                  </td>
                  <td>
                    {{lekar.email}}
                  </td>
                  <td>
                    {{lekar.kontaktTelefon}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

