<app-sidebar-adminkc></app-sidebar-adminkc>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title ">Pacijenti klinike</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Ime
                  </th>
                  <th>
                    Prezime
                  </th>
                  <th>
                    JMBG
                  </th>
                  <th>
                    E-mail
                  </th>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Ivana
                    </td>
                    <td>
                      Brkic
                    </td>
                    <td>
                      1234567898122
                    </td>
                    <td>
                      ivn.bc@gmail.com
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Tamara
                    </td>
                    <td>
                      Lazarevic
                    </td>
                    <td>
                      5747049234323
                    </td>
                    <td>
                      tlazarevic@gmail.com
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Nikola
                    </td>
                    <td>
                      Milosevic
                    </td>
                    <td>
                      0111997710262
                    </td>
                    <td>
                      n.milosevic0111@gmail.com
                    </td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

