<app-sidebar-adminkc></app-sidebar-adminkc>
<div class="main-content" style = "margin-left: 220px;margin-right: 320px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Unesite podatke o klinici</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" #klinikaForm="ngForm">
              <div class="row">
                <input class = "polja" [(ngModel)] = "klinika.naziv" name = "naziv" placeholder="Naziv klinike">
              </div>
              <div class="row">
                <div class="buttons">
                  <input type = "submit" mat-raised-button [routerLink]="['/administratorKc']" style = "margin-top: 10px;margin-right: 10px" value = "Registruj" class="btn btn-danger pull-right"/>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
