<app-patient-sidebar></app-patient-sidebar>
<div class="content-container">
<!-- <<<<<<< 2_2_Dodavanje_predefinisanih_termina         VIDI OVO
  <div class="container-fluid">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Predefinisani termini klinike {{nazivKlinike}}</h4>
              </div>
              <div class="card-body">
               
<mat-grid-list cols="3"  rowHeight="300px" gutterSize="5px">
    <mat-grid-tile  *ngFor="let termin of termini" [colspan]=1
    [rowspan]=1
    >

  <div >

    <div> datum: {{termin.datum}}</div>
        <div> pocetak: {{termin.pocetak}}</div>
            <div> kraj: {{termin.kraj}}</div>
                <div> sala:{{termin.nazivSale}}{{termin.brojSale}}</div>
                    <div>lekar: {{termin.lekarIme}}{{termin.lekarPrezime}}</div>
                        <div>tip pregleda: {{termin.tipPregleda}}</div>
                            <div> cena: {{termin.cena}}</div>
                                <div>popust: {{termin.popust}}</div>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
            
          </div>
         
======= -->
    <div class="container-fluid">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Predefinisani termini klinike {{nazivKlinike}}</h4>
                            </div>
                            <div class="card-body">

                                <mat-grid-list cols="3" rowHeight="300px" gutterSize="5px">
                                    <mat-grid-tile *ngFor="let termin of termini" (click)="onSelect(termin)"  [colspan]=1 [rowspan]=1>

                                        <div>

                                            <div> datum: {{termin.datum}}</div>
                                            <div> pocetak:{{selectedTermin}}</div>
                                            <div> kraj: {{termin.kraj}}</div>
                                            <div> sala:{{termin.nazivSale}}{{termin.brojSale}}</div>
                                            <div>lekar: {{termin.lekarIme}}{{termin.lekarPrezime}}</div>
                                            <div>tip pregleda: {{termin.tipPregleda}}</div>
                                            <div> cena: {{termin.cena}}</div>
                                            <div>popust: {{termin.popust}}</div>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        
<div *ngIf="izabraniTermin">
  <div class="content-container">
    <div class="container-fluid">
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Zakazivanje termina</h4>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-12">
                        <p> Datum : {{izabraniTermin.datum}} </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p> Pocetak i kraj : {{izabraniTermin.pocetak}} - {{izabraniTermin.kraj}} </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p> Klinika i sala : {{izabraniTermin.nazivKlinike}}, {{izabraniTermin.nazivSale}},{{izabraniTermin.brojSale}} </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p> Lekar : {{izabraniTermin.lekarIme}} {{izabraniTermin.lekarPrezime}} </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p> Tip pregleda : {{izabraniTermin.tipPregleda}} </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p> Cena i popust: {{izabraniTermin.cena}}, {{izabraniTermin.popust}} </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p> <button class="form-control" (click)="zakaziNavigate($event)">Zakazi termin</button></p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
