<div class="sidebar-container">
  <div class="sidebar-logo">
    Meni
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Profil</li>
    <li>
     <a [routerLink]="['/pacijentPregled']" >
      <i class="fa fa-user" aria-hidden="true"></i> Pregled profila
    </a>
    </li>
    <li>
      <a [routerLink]="['/pacijent']" >
        <i class="fa fa-user-edit" aria-hidden="true"></i> Izmeni profil
      </a>
    </li>
    <li class="header">Lečenje</li>
    <li>
      <a href="#">
        <i class="fa fa-history " aria-hidden="true"></i> Istorija pregleda i operacija
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-file" aria-hidden="true"></i> Zdravstveni karton
      </a>
    </li>
    <li class="header">Drugo</li>
    <li>
      <a href="#">
        <i class="fa fa-list" aria-hidden="true"></i> Lista klinika
      </a>
    </li>

  </ul>
</div>
