<app-sidebarlekar></app-sidebarlekar>
<div class="content-container" >
  <div class="container-fluid" style = "width: 100%;">
    <div class="main-content" style  = "width: 100%;">
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-8">
            <form (ngSubmit)="onSubmit()" [formGroup]="izvestajForm">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">{{this.pacijentZaPregled.ime}} {{this.pacijentZaPregled.prezime}}</h4>
                  <h5 class="card-title">Opšte informacije</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="opstiIzvestaj.dioptrija" placeholder="Dioptrija"  #dioptrija matInput
                               [ngClass]="{ 'is-invalid': submitted && f.dioptrija.errors }" formControlName="dioptrija"
                               class="mat-form-control">
                        <mat-error *ngIf="submitted && f.dioptrija.errors">
                          <div *ngIf="f.dioptrija.errors.required">Unos imena je obavezan</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="opstiIzvestaj.visina" placeholder = "Visina"  #visina matInput
                               [ngClass]="{ 'is-invalid': submitted && f.visina.errors }" formControlName="visina"
                               class="mat-form-control">
                        <mat-error *ngIf="submitted && f.visina.errors">
                          <div *ngIf="f.visina.errors.required">Unos visine je obavezan</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="opstiIzvestaj.tezina" placeholder="Tezina" #tezina matInput
                               [ngClass]="{ 'is-invalid': submitted && f.tezina.errors }" formControlName="tezina"
                               class="mat-form-control">
                        <mat-error *ngIf="submitted && f.tezina.errors">
                          <div *ngIf="f.tezina.errors.required">Unos tezina je obavezan</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="opstiIzvestaj.krvnaGrupa" placeholder="Krvna grupa"  #krvnaGrupa matInput
                               [ngClass]="{ 'is-invalid': submitted && f.krvnaGrupa.errors }" formControlName="krvnaGrupa"
                               class="mat-form-control">
                        <mat-error *ngIf="submitted && f.krvnaGrupa.errors">
                          <div *ngIf="f.krvnaGrupa.errors.required">Unos krvne grupe je obavezan</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="opstiIzvestaj.alergijeNaLek" placeholder = "Alergije na lekove"  #alergijeNaLek matInput
                               [ngClass]="{ 'is-invalid': submitted && f.alergijeNaLek.errors }" formControlName="alergijeNaLek"
                               class="mat-form-control">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="card-header card-header-danger">
                  <h5 class="card-title">Izveštaj pregleda</h5>
                </div>
                <div class="card-body">
                  <div class = "row">
                    <div class = "col-md-7">
                      <textarea style = "height: 350px;width: 450px; outline: none" placeholder="Unesite informacije o pregledu"
                        [(ngModel)] = "noviIzvestaj.izvestaj" #izvestaj [ngClass]="{ 'is-invalid': submitted && f.izvestaj.errors }" formControlName="izvestaj"
                                class="mat-form-control">
                        <mat-error *ngIf="submitted && f.izvestaj.errors">
                          <div *ngIf="f.izvestaj.errors.required">Unos izvestaja je obavezan</div>
                        </mat-error>
                      ></textarea>
                    </div>
                    <div class = "col-md-3">
                      <div style = "width: 350px;">
                        <button type = "button" style = "height: 35px; margin-left: 3px" class = "btn btn-info"
                                (click)="unesiDijagnoze()">Evidentiraj dijagnoze</button>
                        <label *ngIf="uneteDijagnoze === true" style = "color: red">*Dijagnoze unete!</label>
                      </div>
                      <div style = "width: 350px">
                        <button type = "button" style = "height: 35px;margin-left: 3px; margin-top: 5px" class = "btn btn-info"
                                (click)="kreirajRecept()">Kreiraj recept</button>
                        <label *ngIf="kreiranRecept === true" style = "color: red">*Recept kreiran!</label>
                      </div>
                    </div>
                  </div>
                  <div class="row" style = "float:right; margin-top: 10px">
                    <button type = "button" mat-raised-button class = "btn btn-warning">Nov pregled/operacija</button>
                    <button type = "submit" mat-raised-button style = "margin-left: 5px" class = "btn btn-success">Zavrsi pregled</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
