<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/welcome']">
    <i class="fas fa-home mr-1"></i>
  </a>
  <a class="navbar-brand" routerLink="/">
  </a>
  <a class="navbar-brand" [routerLink]="['/login']">Prijava</a>
  <a class="navbar-brand" [routerLink]="['/register']">Registracija</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div style="padding-top: 50px;" class="kontejner">
  <img class="img-fluid" style="opacity: 70%;" src="./assets/img/m1.jpg" />
  <div class="centered">
    <div style="width: 500px;" class="wrapper fadeInDown">
      <div id="formContent">
        <form class="text-center border border-light p-5" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="fadeIn first">
            <p class="h4 mb-4">Promena lozinke</p>
          </div>
          <div class="fadeIn second">
            <div class="form-group">
              <input id="lozinka" [(ngModel)] = "lozinka" name="lozinka" placeholder="Nova lozinka" type="password"
                     [ngClass]="{ 'is-invalid': submitted && f.lozinka.errors }" class="form-control" formControlName="lozinka">
              <div *ngIf="submitted && f.lozinka.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Unos lozinke je obavezan</div>
              </div>
            </div>
            <div class="form-group">
              <input id="potvrda" [(ngModel)] = "potvrda" name="potvrda" placeholder="Ponovo unesite lozinku" type="password"
                     [ngClass]="{ 'is-invalid': submitted && f.potvrda.errors }" class="form-control"
                     formControlName="potvrda">
              <div *ngIf="submitted && f.potvrda.errors" class="invalid-feedback">
                <div *ngIf="f.potvrda.errors.required">Ponovan unos lozinke je obavezan</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input class="fadeIn third" type="submit" value="Promena lozinke">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
