<app-sidebar-med-sestra></app-sidebar-med-sestra>
<div class="content-container">
  <div class="container-fluid">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Osnovne informacije</h4>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-12">
                      <p> Ime : {{medSestra.ime}} </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p> Prezime : {{medSestra.prezime}} </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p> Broj telefona : {{medSestra.kontaktTelefon}} </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p> Email : {{medSestra.email}} </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p> Adresa : {{medSestra.adresa}} </p>
                      <p> Grad : {{medSestra.grad}} </p>
                      <p> Drzava : {{medSestra.drzava}} </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p> Jedinstveni broj osiguranika : {{medSestra.jbo}} </p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile">
              <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img class="img-fluid" src="./assets/img/meds.png" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-gray">Medicinska sestra</h6>
                <h4 class="card-title">{{medSestra.ime}} {{medSestra.prezime}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
