<div class="sidebar-container bg-dark">
  <div class="sidebar-logo">
    Meni
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Profil</li>
    <li>
      <a [routerLink]="['/medicinskaSestra']">
        <i class="fa fa-user-edit" aria-hidden="true"></i> Pregled profila
      </a>
    </li>
    <li>
      <a [routerLink]="['/medicinskaSestraIzmena']">
        <i class="fa fa-user" aria-hidden="true"></i> Izmena podataka
      </a>
    </li>
    <li class="header">Klinika</li>
    <li>
      <a [routerLink]="['/pretragaPacijenata']">
        <i class="fa fa-user-injured" aria-hidden="true" ></i> Lista svih pacijenata
      </a>
    </li>
    <li>
      <a [routerLink]="['/medicinskaSestra']">
        <i class="fa fa-calendar" aria-hidden="true"></i> Radni kalendar
      </a>
    </li>
    <li>
      <a [routerLink]="['/overaRecepta']">
        <i class="fa fa-stamp" aria-hidden="true"></i> Overa recepata
      </a>
    </li>
    <li class="header">Drugo</li>
    <li>
      <a [routerLink]="['/odmor']">
        <i class="fa fa-plane-departure" aria-hidden="true"></i> Zatraži odmor
      </a>
    </li>
    <li>
      <a [routerLink]="['/odsustvo']">
        <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Zatraži odsustvo
      </a>
    </li>
    <li class="header">Odjava</li>
    <li>
      <a [routerLink]="['/welcome']" (click)="odjava()">
        <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Odjavi se
      </a>
    </li>
  </ul>
</div>
