<app-sidebar-adminkc></app-sidebar-adminkc>
<div class="content-container">
  <div class="container-fluid">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <form (ngSubmit)="onSubmit()" [formGroup]="adminForm">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Osnovne informacije</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-5" >
                      <mat-form-field class="example-full-width">
                        <input [(ngModel)]="helperClass.ime" placeholder="Ime" #ime matInput [ngClass]="{ 'is-invalid': submitted && f.ime.errors }"
                               formControlName="ime" class="mat-form-control" >
                        <mat-error *ngIf="submitted && f.ime.errors" >
                            <div *ngIf="f.ime.errors.required">Unos imena je obavezan</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input placeholder="Prezime" #prezime matInput [(ngModel)]="helperClass.prezime"  [ngClass]="{ 'is-invalid': submitted && f.prezime.errors }"
                               formControlName="prezime" class="mat-form-control">
                        <mat-error *ngIf="submitted && f.prezime.errors" class="invalid-feedback">
                          <div *ngIf="f.prezime.errors.required">Unos prezimena je obavezan</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-md-5">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Adresa" type="text"
                                 id="adresa"
                                 [(ngModel)]="helperClass.adresa" formControlName="adresa" class="mat-form-control">
                        </mat-form-field>
                      </div>
                      <div class="col-md-5">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Grad" type="text"
                                 id="grad"
                                 [(ngModel)]="helperClass.grad" formControlName="grad" class="mat-form-control">
                        </mat-form-field>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input placeholder="Drzava" matInput type="text"
                               id="drzava"
                               [(ngModel)]="helperClass.drzava" formControlName="drzava" class="mat-form-control">
                      </mat-form-field>
                    </div>
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input placeholder="Kontakt telefon" #kontaktTelefon matInput [(ngModel)]="helperClass.kontaktTelefon" type="text"
                               formControlName="kontaktTelefon" class="mat-form-control">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class = "row">
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input placeholder="Email" matInput [(ngModel)]="helperClass.email" type="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                               formControlName="email" class="mat-form-control">
                        <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Unos e-mail-a je obavezan</div>
                          <div *ngIf="f.email.errors.email">E-mail je neispravan</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input placeholder="Korisnicko ime" [ngClass]="{ 'is-invalid': submitted && f.korIme.errors }"  formControlName="korIme"
                               matInput  [(ngModel)]="helperClass.korIme" class="mat-form-control">
                        <mat-error *ngIf="submitted && f.korIme.errors" class="invalid-feedback">
                          <div *ngIf="f.korIme.errors.required">Unos korisničkog imena je obavezan</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Jedinstveni broj osiguranika"
                                 [(ngModel)]="helperClass.jbo" type="text" formControlName="jbo" class="mat-form-control" >
                          <mat-error *ngIf="submitted && f.jbo.errors" >
                            <div *ngIf="f.jbo.errors.required">Jbo mora biti sadržati 9 karaktera</div>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-5">
                        <mat-form-field class="example-full-width">
                          <input placeholder="Sifra" matInput type="password" [(ngModel)]="helperClass.lozinka" class="mat-form-control"
                                 formControlName="lozinka" [ngClass]="{ 'is-invalid': submitted && f.lozinka.errors }">
                          <mat-error *ngIf="submitted && f.lozinka?.errors" class="invalid-feedback">
                            <div *ngIf="f.lozinka?.errors.required">Unos lozinke je obavezan</div>
                            <div *ngIf="f.lozinka?.errors.minlength">Lozinka mora imati minimalno 8 karaktera</div>
                            <div *ngIf="f.lozinka?.errors.pattern">Lozinka mora imati minimalno jedan broj i jedan karakter</div>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class = "row"></div>
                      <div class="col-md-5" >
                        <select [(ngModel)]="helperClass.klinika" formControlName="klinika">
                          <option>Odaberite kliniku</option>
                          <option *ngFor="let klinika of klinike">{{klinika.naziv}}</option>
                        </select>
                      </div>
                    </div>
                    <button [routerLink]="['/registracijaAdminKlinike']" mat-raised-button type="submit"
                            class="btn btn-danger pull-right">Registruj</button>
                    <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
