<app-sidebar-adminkc></app-sidebar-adminkc>
<div class="main-content" style = "margin-left: 220px;margin-right: 320px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Unesite podatke o administratoru</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" #adminKlinikeForm="ngForm">
              <div class="row">
                <input class = "polja" [(ngModel)] = "adminKlinike.korIme" name = "korisnickoIme" placeholder="Korisničko ime">
              </div>
              <div class = "row">
                <input class = "polja"[(ngModel)] = "adminKlinike.lozinka" name = "sifra" placeholder="Šifra" type="password">
              </div>
              <div class = "row">
                <input class = "polja" [(ngModel)] = "adminKlinike.ime" name = "ime" placeholder="Ime">
              </div>
              <div class = "row">
                <input class = "polja" [(ngModel)] = "adminKlinike.prezime" name = "prezime" placeholder="Prezime">
              </div>
              <div class = "row">
                <input class = "polja" [(ngModel)] = "adminKlinike.email" name = "email" placeholder="E-mail">
              </div>
              <div class = "row">
                <input class = "polja" [(ngModel)] = "adminKlinike.kontaktTelefon" name = "brojTelefona" placeholder="Broj telefona">
              </div>
              <div class="row">
                <div class="buttons">
                  <input mat-raised-button type = "submit" (click)="onSubmit()" [routerLink]="['/administratorKc']" style = "margin-top: 10px;margin-right: 10px"
                         class="btn btn-danger pull-right" value = "Registruj"/>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
