<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form class="text-center border border-light p-5" (ngSubmit)="onSubmit()" [formGroup]="loginForm">

      <!-- Icon -->
      <div class="fadeIn first">
        <p class="h4 mb-4">Prijava</p>
      </div>

      <div class="form-group">
      <input class="fadeIn second" id="email" name="email" placeholder="E-mail" type="text"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  class="form-control"
             formControlName="email" >
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Unos e-mail-a je obavezan</div>
        </div>
      </div>
      <div class="form-group">
      <input class="fadeIn third" id="lozinka" name="lozinka" placeholder="Lozinka" type="password"  [ngClass]="{ 'is-invalid': submitted && f.lozinka.errors }"
             class="form-control"
             formControlName="lozinka">
        <div *ngIf="submitted && f.lozinka.errors" class="invalid-feedback">
          <div *ngIf="f.lozinka.errors.required">Unos lozinke je obavezan</div>
        </div>
      </div>
      <div class="form-group">
      <input class="fadeIn fourth" type="submit" value="Prijava">
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Zaboravili ste lozinku?</a>
    </div>

  </div>
</div>
</body>
</html>
