<app-patient-sidebar></app-patient-sidebar>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Lista klinika</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
    <th>Naziv</th>
    <th>Email</th>
    <th>Ocena</th>
                </thead>

  <tbody>
  <tr *ngFor="let klinika of klinike"
      [class.selected]="klinika === selectedKlinika"
      (click)="onSelect(klinika)">
    <td><b>{{klinika.naziv}}</b></td>
    <td>{{klinika.email}}</td>
    <td>{{klinika.ocena}}</td>
  </tr>
  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div  *ngIf="selectedKlinika">
  <div class="content-container">
    <div class="container-fluid">
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4  class="card-title">Osnovne informacije</h4>
                </div>
                <div class="card-body">
                  <form >
                    <div class="row">
                      <div class="col-md-12">
                        <p> Naziv : {{selectedKlinika.naziv}} </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p> Kontakt telefon : {{selectedKlinika.kontaktTelefon}} </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p> Adresa, grad i država : {{selectedKlinika.adresa}}, {{selectedKlinika.grad}}, {{selectedKlinika.drzava}}  </p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




