
<app-patient-sidebar></app-patient-sidebar>

<div class="main-content">
 
       
    
  <div class="topnav">
    <div class="search-container">
      <form action="/action_page.php">
        <table class="table">
          <tr>
            <td><mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Izaberite datum"[formControl]="date" (dateInput)="addEvent('input',$event)" (dateChange)="addEvent('change',$event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field></td>
            <td><input class="form-control" type="text" placeholder="Naziv" name="searchText"  [(ngModel)]="searchText"></td>
            <td><input class="form-control" type="text" placeholder="Grad" name="searchGrad"  [(ngModel)]="searchGrad"></td>
          </tr>
          <tr>
            <td><input class="form-control" type="text" placeholder="Drzava" name="searchDrzava"  [(ngModel)]="searchDrzava"></td>
            <td><select class="form-control"  name="searchOcena" [(ngModel)]="searchOcena" ng-init="searchOcena = searchOcena || ocene[0].value" >
                  <option  value="0">Ocena </option>
                  <option value="5">5</option>
                  <option value="4">4+</option>
                  <option value="3">3+</option>
                  <option value="2">2+</option>
                  <option value="1">1+</option>
              </select>
            </td>
            <td><select class="form-control"  [(ngModel)]="searchPregled" name="searchPregled"  (change)="onChange(searchPregled)" >
              <option value="">Izaberite tip</option>
              <option *ngFor="let tip of tipovi" [ngValue]="tip">{{tip.naziv}}</option>
                </select>
            </td>
          </tr>
          <!--button type="submit"><i class="fa fa-search"></i></!--button-->
        </table>
      </form>
    </div>
  </div>
  


<div></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Lista klinika</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Naziv</th>
                  <th>E-mail</th>
                  <th>Ocena</th>
                  <th> Adresa</th>
                  <th>Cena pregleda</th>
                </thead>

                <tbody>
                  <tr *ngFor="let klinika of klinike | pretragafilterFilter:searchDrzava:searchGrad:searchOcena:searchText" [class.selected]="klinika === selectedKlinika"
                    (click)="onSelect(klinika)">
                    <td><b>{{klinika.naziv}}</b></td>
                    <td>{{klinika.email}} </td>
                    <td>{{klinika.ocena}} </td>
                    <td>{{klinika.adresa}}</td>
                    <td>TODO</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="selectedKlinika">
  <div class="content-container">
    <div class="container-fluid">
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Osnovne informacije</h4>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-12">
                        <p> Naziv : {{selectedKlinika.naziv}} </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p> Kontakt telefon : {{selectedKlinika.kontaktTelefon}} </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p> Adresa, grad i država : {{selectedKlinika.adresa}}, {{selectedKlinika.grad}},
                          {{selectedKlinika.drzava}} </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p> <button class="form-control" (click)="lekariNavigate($event)">Prikazi slobodne lekare</button></p>
                        <p> <button class="form-control" (click)="profilNavigate($event)">Prikazi profil klinike</button></p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

