<ejs-schedule #scheduleObj (eventClick)="onEventClick($event)" (popupOpen)='onPopupOpen($event)' height="600" [currentView]="setView" locale='sr-Latn'>
        <e-views>
            <e-view option="Day"></e-view>
            <e-view option="Week"></e-view>
            <e-view option="Month"></e-view>
        </e-views>
        <ng-template #editorTemplate let-data>
            <table *ngIf="data != undefined" class="custom-event-editor" width="100%" cellpadding="5">
                <tbody>
                    <tr>
                        <td class="e-textlabel">LBO pacijenta</td>
                        <td colspan="4">
                            <input id="lboPacijenta" class="e-field e-input" type="text" value="{{data.Subject}}"
                                name="Subject" style="width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="e-textlabel">Ime i prezime pacijenta</td>
                        <td colspan="4">
                            <input id="pacijent" class="e-field e-input" type="text" value="{{data.Description}}"
                                name="Subject" style="width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="e-textlabel">Ime i prezime doktora</td>
                        <td colspan="4">
                            <input id="doktor" class="e-field e-input" type="text" value="{{data.Location}}"
                                name="Subject" style="width: 100%" />
                        </td>
                    </tr>
                     <!-- <tr>
                        <td class="e-textlabel">Status</td>
                        <td colspan="4">
                            <ejs-dropdownlist id='Status' class="e-field" data-name="Status" placeholder='Choose Status'
                                [dataSource]='StatusData' [fields]='statusFields' value='{{data.Status}}'>
                            </ejs-dropdownlist>
                        </td>
                    </tr>  -->
                    <tr>
                        <td class="e-textlabel">Od</td>
                        <td colspan="4">
                            <ejs-datetimepicker id="StartTime" class="e-field" data-name="StartTime"
                                format="M/dd/yy h:mm a" [value]="dateParser(data.startTime || data.StartTime)">
                            </ejs-datetimepicker>
                        </td>
                    </tr>
                    <tr>
                        <td class="e-textlabel">Do</td>
                        <td colspan="4">
                            <ejs-datetimepicker id="EndTime" class="e-field" data-name="EndTime" format="M/dd/yy h:mm a"
                                [value]='dateParser(data.endTime || data.EndTime)'></ejs-datetimepicker>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="e-textlabel">Reason</td>
                        <td colspan="4">
                            <textarea id="Description" class="e-field e-input" name="Description" rows="3" cols="50"
                                value="{{data.Description}}"
                                style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </ng-template>
</ejs-schedule>